/TourGuide/.gradle/
/TourGuide/.idea/
/TourGuide/build/
/TourGuide_GpsUtil/.gradle/
/TourGuide_GpsUtil/.idea/
/TourGuide_GpsUtil/build/
/TourGuide_RewardCentral/.gradle/
/TourGuide_RewardCentral/.idea/
/TourGuide_RewardCentral/build/
/TourGuide_TripPricer/.gradle/
/TourGuide_TripPricer/.idea/
/TourGuide_TripPricer/build/
/.idea/
